{% raw %}<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This file is an EXAMPLE configuration file. While the configuration
    presented in this example file is semi-functional, it isn't very
    interesting. It is here only as a starting point for your deployment
    process.
    
    Very few attribute definitions and data connectors are demonstrated,
    and the data is derived statically from the logged-in username and a
    static example connector.

    Attribute-resolver-full.xml contains more examples of attributes,
    encoders, and data connectors. Deployers should refer to the Shibboleth
    documentation for a complete list of components and their options.
-->

<AttributeResolver
        xmlns="urn:mace:shibboleth:2.0:resolver" 
        xmlns:enc="urn:mace:shibboleth:2.0:attribute:encoder" 
        xmlns:sec="urn:mace:shibboleth:2.0:security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:ecaid="fi.mpass.shibboleth.attribute.dc.authnid"
        xmlns:eca="fi.mpass.shibboleth.attribute.dc.rest"
        xmlns:oidcext="org.geant.idpextension.oidc.attribute.encoder"
        xsi:schemaLocation="urn:mace:shibboleth:2.0:resolver http://shibboleth.net/schema/idp/shibboleth-attribute-resolver.xsd
                            urn:mace:shibboleth:2.0:attribute:encoder http://shibboleth.net/schema/idp/shibboleth-attribute-encoder.xsd
                            urn:mace:shibboleth:2.0:security http://shibboleth.net/schema/idp/shibboleth-security.xsd
                            fi.mpass.shibboleth.attribute.dc.authnid classpath:/eca-authnid-connector.xsd
                            fi.mpass.shibboleth.attribute.dc.rest classpath:/rest-connector.xsd
			    org.geant.idpextension.oidc.attribute.encoder classpath:/schema/idp-oidc-extension-attribute-encoder.xsd">

    <!-- ========================================== -->
    <!--      Attribute Definitions                 -->
    <!-- ========================================== -->
   
    <AttributeDefinition id="subject" xsi:type="Simple" activationConditionRef="SubjectRequired">
        <InputDataConnector ref="computedSubjectId" attributeNames="subjectId"/>
        <AttributeEncoder xsi:type="oidcext:OIDCString" name="sub" />
    </AttributeDefinition>


    <AttributeDefinition id="authnid" xsi:type="Simple" sourceAttributeID="ecaauthnid">
        <Dependency ref="calculateAuthnId" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:authnID" friendlyName="authnid" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecausername" xsi:type="Simple" sourceAttributeID="username">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:OID" friendlyName="oid" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecafirstName" xsi:type="Simple" sourceAttributeID="firstName">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:oid:2.5.4.42" friendlyName="givenName" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="given_name" />
    </AttributeDefinition>

    <AttributeDefinition id="ecasurname" xsi:type="Simple" sourceAttributeID="surname">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:oid:2.5.4.4" friendlyName="sn" encodeType="false" />
	<AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="family_name" />
    </AttributeDefinition>

    <AttributeDefinition id="ecamunicipalities" xsi:type="Simple" sourceAttributeID="municipalities">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:municipality" friendlyName="ecaMunicipality" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecaschools" xsi:type="Simple" sourceAttributeID="schools">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:school" friendlyName="ecaSchool" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecagroups" xsi:type="Simple" sourceAttributeID="groups">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:group" friendlyName="ecaGroup" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecaroles" xsi:type="Simple" sourceAttributeID="roles">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:role" friendlyName="ecaRole" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecastructuredRoles" xsi:type="Simple" sourceAttributeID="structuredRoles">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:structuredRole" friendlyName="ecaStructuredRole" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="ecalegacyId" xsi:type="Simple" sourceAttributeID="attr_legacyId">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:legacyCryptId" friendlyName="ecaLegacyCryptId" encodeType="false" />
    </AttributeDefinition>

    <AttributeDefinition id="learnerId" xsi:type="Simple" sourceAttributeID="attr_learnerId">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:oid:1.3.6.1.4.1.16161.1.1.27" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="learnerId" />
    </AttributeDefinition>



    <AttributeDefinition id="idpId" xsi:type="ScriptedAttribute">
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:educloudalliance.org:authenticator" friendlyName="idpId" encodeType="false" />
        <Script><![CDATA[
authnContext = resolutionContext.getParent().getSubcontext("net.shibboleth.idp.authn.context.AuthenticationContext");
authnResult = authnContext.getAuthenticationResult();
if (authnResult != null) {
   flowId = authnResult.getAuthenticationFlowId();
   if (flowId.equals("authn/Password")) idpId.addValue("ad_oulu");
   else if (flowId.equals("authn/ShibLdap")) idpId.addValue("ldap_test"); 
   else if (flowId.equals("authn/Wilma")) {
       idpId.addValue(authnContext.getAuthenticationStateMap().get("MPASS_SELECTED_TECH_ID"));
   }
}
        ]]></Script>
    </AttributeDefinition>

    <AttributeDefinition id="cide" xsi:type="ScriptedAttribute">
        <Dependency ref="ecalegacyId" />
        <Script><![CDATA[
algorithm = "HmacSHA256";
mac = Java.type("javax.crypto.Mac").getInstance(algorithm);
keySpecType = Java.type("javax.crypto.spec.SecretKeySpec");
stringType = Java.type("java.lang.String");
if (typeof ecalegacyId != "undefined" && ecalegacyId.getValues().size() > 0) {
    key = new keySpecType(new stringType("{% endraw %}{{ secure.shibboleth.attribute_resolver.hash }}"{% raw %}).getBytes("UTF-8"), algorithm);
    mac.init(key);
    bytes = mac.doFinal(new stringType(ecalegacyId).getBytes("UTF-8"));
    cide.addValue(new stringType(Java.type("org.apache.commons.codec.binary.Hex").encodeHex(bytes)));
}
        ]]></Script>
    </AttributeDefinition>

    <AttributeDefinition id="guid" xsi:type="ScriptedAttribute">
        <Dependency ref="uid" />
        <!-- <Dependency ref="objectGUID" /> -->
        <Script><![CDATA[

logger = Java.type("org.slf4j.LoggerFactory").getLogger("net.shibboleth.idp.attribute");
guid.addValue(uid.getValues().get(0));
logger.info("GUID value: {}", guid.getValues());

        ]]></Script>
    </AttributeDefinition>

    <AttributeDefinition id="mpassLegacyCid" xsi:type="ScriptedAttribute">
        <Dependency ref="ecalegacyId" />
        <Dependency ref="idpId" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:legacyCryptId" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_cid" />
        <Script><![CDATA[
if (ecalegacyId != "undefined" && ecalegacyId.getValues().size() > 0 && idpId != "undefined" && idpId.getValues().size() > 0) {
    mpassLegacyCid.addValue(ecalegacyId.getValues().get(0) + "@" + idpId.getValues().get(0));
}
        ]]></Script>
    </AttributeDefinition>

    <AttributeDefinition id="mpassLegacyCide" xsi:type="ScriptedAttribute">
        <Dependency ref="cide" />
        <Dependency ref="idpId" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:legacyCryptIde" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_cide" />
        <Script><![CDATA[
if (cide != "undefined" && cide.getValues().size() > 0 && idpId != "undefined" && idpId.getValues().size() > 0) {
    mpassLegacyCide.addValue(cide.getValues().get(0) + "@" + idpId.getValues().get(0));
}
        ]]></Script>
    </AttributeDefinition>

    <AttributeDefinition id="mpassMunicipality" xsi:type="Simple" sourceAttributeID="municipalities">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:municipality" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_municipality" />
    </AttributeDefinition>

    <AttributeDefinition id="mpassUsername" xsi:type="Simple" sourceAttributeID="username">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:uid" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_uid" />
    </AttributeDefinition>

    <AttributeDefinition id="mpassMunicipalityCode" xsi:type="Simple" sourceAttributeID="attr_municipalityCode">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:municipalityCode" friendlyName="municipalityCode" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_municipalitycode" />
    </AttributeDefinition>

    <AttributeDefinition id="mpassRole" xsi:type="Simple" sourceAttributeID="structuredRolesWid">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:role" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_role" />
    </AttributeDefinition>

    <AttributeDefinition id="mpassClass" xsi:type="Simple" sourceAttributeID="groups">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:class" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_class" /> 
   </AttributeDefinition>

    <AttributeDefinition id="mpassSchool" xsi:type="Simple" sourceAttributeID="schools">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:school" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_school" />
    </AttributeDefinition>

    <AttributeDefinition id="mpassSchoolCode" xsi:type="Simple" sourceAttributeID="schoolIds">
        <Dependency ref="ecaDataApi" />
        <AttributeEncoder xsi:type="enc:SAML2String" name="urn:mpass.id:schoolCode" encodeType="false" />
        <AttributeEncoder xsi:type="oidcext:OIDCString" placeToIDToken="true" setToToken="true" denyUserinfo="true" name="mpass_schoolCode" />
    </AttributeDefinition>


    <AttributeDefinition id="uid" xsi:type="PrincipalName">
    </AttributeDefinition>

   
    <!--
    In the rest of the world, the email address is the standard identifier,
    despite the problems with that practice. Consider making the EPPN value
    the same as your official email addresses whenever possible.
    -->


    <!-- ========================================== -->
    <!--      Data Connectors                       -->
    <!-- ========================================== -->

<DataConnector id="computedSubjectId" xsi:type="ComputedId"
        generatedAttributeID="subjectId"
        salt="%{idp.oidc.subject.salt}"
        algorithm="%{idp.oidc.subject.algorithm:SHA}"
        encoding="%{idp.oidc.subject.encoding:BASE32}">
        <InputAttributeDefinition ref="%{idp.oidc.subject.sourceAttribute}"/>
</DataConnector>

<DataConnector id="calculateAuthnId" xsi:type="ecaid:AuthnIdDataConnector" srcAttributeNames="guid" destAttributeName="ecaauthnid" skipCalculation="idpID=ldap_test"
   minInputLength="2">
        <Dependency ref="uid" />
        <Dependency ref="guid" />
        <Dependency ref="idpId" />
    </DataConnector>


    <DataConnector id="ecaDataApi" xsi:type="eca:RestDataConnector" endpointUrl="{% endraw %}{{ secure.mpassid_data }}{% raw %}/api/1/query" hookAttribute="authnid" idpId="idpId" resultAttributePrefix="" token="{% endraw %}{{ secure.mpassid_data_token }}{% raw %}" disregardTLSCertificate="true">
        <Dependency ref="authnid" />
        <Dependency ref="idpId" />

    </DataConnector>

</AttributeResolver>
{% endraw %}
